
<img id="burgerimg" src="../public/assets/img/burger.png">
<h1>Eat-Da-Burger</h1>
<!-- this is index.handlebars -->

<ol>
  {{#each burger}}
    {{#if !this.devoured}}
    <li>
      <p>{{this.id}}. {{this.burger_name}} 

      
      <form action="/api/devour/{{this.id}}" method="POST">
        
        <button type="submit">Devour it!</button>
      </form></p>

      
    </li>
    {{/if}}
  {{/each}}
</ol>

<ol>
  {{#each devoured}}
    {{#if devoured}}
    <li>
      <p>{{this.id}}. {{this.burger_name}}</p>
    
    </li>
    {{/if}}
  {{/each}}
</ol>

<br>

{{!-- Form should send a post command to the server --}}

<form  action="/api/addBurger" method='POST'>
  <div class="form-group">
    
    <textarea id="addedBurger" name="addedBurger" rows="1" cols="40"></textarea>
  </div>

  <button type="submit">Add New Burger</button>
</form>
